body {
    background-image: url(http://www.lostwallpapers.net/wallpaper/wallpaper-fonds-decran-Arriere%20plan%20pour%20site%20web%202.0-FULL-HD.jpg);
}

h2 {
    color: aliceblue;
    font-size: 30px;
}

p {
    font-size: 20px;
    color: red;
    text-align: center;
}

#carre {
    width: 500px;
    margin-top: 240px;
    background-color: none;
}

#boutonGO {}

h2 {
    color: aliceblue !important;
}

#credit {
    height: 20px;
    width: 250px;
    background-color: aliceblue;
}

#score {
    height: 20px;
    width: 250px;
    background-color: aliceblue;
}

.jack {
    margin: auto;
}

#grand {
    margin: auto;
    width: 700px;
    height: 500px;
    background: url(images/cartes.jpg)no-repeat;
    background-size: cover;
}